doctype html
html
	head
		title=title
		block styles
			link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			.jumbotron(style="margin-bottom: 0px;;padding-top: 5px;")
				img.logo(src='/images/logo_cube_scm.png')
				h1 Rilevazione presenze
			nav(class=["navbar", "navbar-inverse"],style="margin-bottom: 0px;")
				.container-fluid
					.navbar-header
						a.navbar-brand Rilevazione presenze
					ul(class=["nav", "navbar-nav"])
						block liMenu
							li
								a(href='/') Home
							li
								a(href='/rilevazione') Rilevazione
							li
								a(href='/private/monitoraggio') Monitoraggio
					ul(class=["nav", "navbar-nav", "navbar-right"])
						if user					
							li
								a(href='#') #{nominativo}
							li
								a(href='/logout')  
									span(class=["glyphicon", "glyphicon-log-out"])  Logout								
						else
							li
								a(href="/login")
									span(class=["glyphicon", "glyphicon-log-in"])  Login
			block content
		block jscripts
			script(src='/javascripts/jquery-2.2.1.min.js')
			script(src='/javascripts/bootstrap.min.js')
			script(src='/javascripts/datatables.min.js')
			script(src='/javascripts/moment.js')
			script(src='/javascripts/moment-it.js')
			script(src='/javascripts/bootstrap-datetimepicker.min.js')
