#dialogBarcode.inputDialog(title='Lettura di un badge',	style='display: none;')
	.watermark
	span.
		Avvicinare il lettore al badge e premere il pulsante per
		la lettura 
	span.info.
		Effettuando la lettura del
		barcode, si registrerà automaticamente l'ingresso o l'uscita a
		seconda dello stato attuale della registrazione. 