#dialogErrors.errorDialog(class=['modal', 'fade'],role="dialog",title='Sono presenti errori',style='display: none;')
	#infoErrore.modal-dialog
		.modal-content
			div(class=['modal-header', 'alert-danger'])
				button.close(type="button",data-dismiss="modal") &times;
				h4.modal-title Informazioni sull'errore
			.modal-body
				.row
					span.titoloVoce Codice errore
					span#codiceErrore.valoreVoce
				.row
					span.titoloVoce Messaggio errore
					span#messaggioErrore.valoreVoce
			.modal-footer
				button(type="button",class=["btn", "btn-default"],data-dismiss="modal") Chiudi