#dialogEsito.errorDialog(class=['modal', 'fade'],role="dialog",title='Sono presenti errori',style='display: none;')
	#infoErrore.modal-dialog
		.modal-content
			div(class=['modal-header', 'alert-info'])
				button.close(type="button",data-dismiss="modal") &times;
				h4.modal-title Esito dell'operazione
			.modal-body
				.row
					span.titoloVoce Codice esito
					span#codiceEsito.valoreVoce
				.row
					span.titoloVoce Messaggio
					span#messaggioEsito.valoreVoce
			.modal-footer
				button(type="button",class=["btn", "btn-default"],data-dismiss="modal") Chiudi