extends layout

block content
	h1
		span(class=["glyphicon", "glyphicon-log-in"])
	form(method='post', action='login')
		.form-group
			label Nome utente
			input.form-control(type='text', name='username')
		.form-group
			label Password
			input.form-control(type='password', name='password')
		button(class=['btn', 'btn-warning', 'btn-lg'], type='submit') Login