extends layout

block content
	ul(class=["nav", "nav-tabs"])
		li.active
			a(href="#tutteTimbrate", data-toggle="tab") Tutte le timbrate
		li
			a(href="#oggiTimbrate", data-toggle="tab") Oggi
	.tab-content
		#tutteTimbrate(class=["tab-pane", "fade", "in", "active"])
			table#tabTutteTimbrate(class=['table', 'table-striped', 'table-hover', 'table-bordered', 'table-condensed'],style='width:100%')
		#oggiTimbrate(class=["tab-pane", "fade"])
			table#tabOggiTimbrate(class=['table', 'table-striped', 'table-hover', 'table-bordered', 'table-condensed'],style='width:100%')
	include ./dialogs/giornata.jade				
	include ./dialogs/esitoDialog.jade
	include ./dialogs/errorDialog.jade		
block append jscripts
	script(src='/javascripts/reging/commons.js')
	script(src='/javascripts/reging/monitoraggio.js')