extends layout

block append styles
	link(rel='stylesheet', href='/stylesheets/clock.css')
block content
	ul#clock
		li#sec
		li#hour
		li#min
	input#txtRegBarcode(type='hidden', name='regBarcode')
	include ./dialogs/collaboratore.jade
	include ./dialogs/esitoDialog.jade
	include ./dialogs/errorDialog.jade
block append jscripts
	script(src='/javascripts/clock.js')
	script(src='/javascripts/reging/commons.js')
	script(src='/javascripts/reging/rilevazione.js')